doctype html
html
    head(metacharset='utf-8')
        title 여행지 예약
    body
        p 아래의 여행지를 예약하려고 합니다
        form(action='tour_reservation_com' method='post' )
            p='기존 여행지 구분제목 : ' + id
            input(input='text' name='id' value=id readonly)
            p='이름 : ' +name
            p= '가격 : ' +price
            p= '설명 : ' +dis
            p= '코스 : ' +c
            p 날짜
            input(type='date' name='date' )
            p 인원
            input(type='number' value=1 name='num')
            p 가격
            input(type='number' value=1 name='p')
            br
            input(type='submit' value='예약하기')


